.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# .vscode
.svn/
.svn/wc.db
wc.db

# 忽略static内的全部文件
static/*
# .gitkeep不会被忽略 该文件被文件系统版本控制
!.gitkeep

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

pnpm-lock.yaml
.vercel

# 忽略自动生成vercel部署配置文件
vercel.null.def.json


# 忽略nuxt生成的结果
.nuxt
