.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# .vscode
.svn/
.svn/wc.db
wc.db

# 忽略static内的全部文件
static/*
# .gitkeep不会被忽略 该文件被文件系统版本控制
!.gitkeep

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/


# 忽略vitepress的生成文件
*/**/.vitepress/dist
*/**/.vitepress/cache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

pnpm-lock.yaml
.vercel

# 忽略自动生成vercel部署配置文件
vercel.null.def.json

# 忽略nuxt生成的结果
.nuxt

# 忽略来自docx的文件，这些文件都是移动生成的
docs/docx

# 忽略根目录的 drill-docx 文件夹。该文件夹默认认为是外部复制粘贴的docx元数据
drill-docx
